.gallery{
	/*border:1px solid #D4AF37;*/
	margin : 5px;
	float : left;
	width : auto;
	box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	
	animation : gallery 2s 0 0 infinite;
}

div.gallery img{
	max-width : 100%;
	height : auto;
}

div.gallery:hover{
	border : 1px solid gold;
}


div.desc {
    padding: 15px;
    text-align: center;
}

@keynote gallery{
	from{div.gallery.border : 1px solid #000000;}
	to{div.gallery.border : 2px solid #FFFFFF;}
}